.violet {
    color: purple;
     font-family: Arial;
}
.bleu {
    color: blue;
     font-family: Arial;
}
. f bleu {
    color: dark blue;
     font-family: Arial;
}
.pink {
    color: pink;
     font-family: Arial;
}
}
.d pink {
    color: dark pink;
     font-family: Arial;
}
td, th
{
border: 1px solid black;
}
table {
border-collapse: collapse;
}
h2{
    color:dark blue;
    font-family: Arial;
}